body, html {
    overflow-x: hidden;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.nav-bar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-bar-button {
    position: absolute;
    color: white;
    width: 60px;
    height: 60px;
    /* background-color: #ea7a3a; */
    background-color: #d8cebd;
    border-radius: 5px;
    top: 10px;
    left: 10px;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 300ms;
    transition: border-color 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-button:hover {
    /* background-color: #ff5f03; */
    /* border-color: black; */
}

.nav-bar {
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    transition: transform 300ms;
}

.img-wrapper {
    width: 100%;
    flex: 1;
}

.nav-bar img {
    margin-top: 2em;
    width: 80%;
    margin: 1em;
    
    max-width: 500px;
    height: auto;
}

.nav-bar .links {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 1em;
    gap: 1em;
}

.nav-bar a {
    text-align: center;
    padding: 1em 3em;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.nav-hidden {
    transform: rotate(0) translateX(-100%) translateY(0);
}


.hamburger {
    width: 30px;
    height: 3px;
    background-color: #706f70;
    border-radius: 5px;
    z-index: 10;
    transition: all .5s ease;
}
.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #706f70;
    border-radius: 5px;
    z-index: 10;
    transition: all .5s ease;
}
.hamburger::before {
    transform: translateY(-9px);
}
.hamburger::after {
    transform: translateY(9px);
}

/* animace hamburgru */
.hamburger_check {
    transform: translateX(-0px);
    background: transparent;
}
.hamburger_check::before {
    transform: rotate(45deg) translate(0px, 0px);
}
.hamburger_check::after {
    transform: rotate(-45deg) translate(0px, 0px);
}


@media (min-width: 1000px) {
    .nav-bar-button {
        display: none;
    }

    .nav-bar {
        position: relative;
        transform: rotate(0) translateX(0) translateY(0);
    }
}